%nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
  %button.navbar-toggler.navbar-toggler-right{ "aria-controls" => "navbar-supported-content",
                                                "aria-expanded" => "false",
                                                "aria-label" => "Toggle navigation",
                                                "data-target" => "#navbar-supported-content",
                                                "data-toggle" => "collapse",:type => "button" }
    %span.navbar-toggler-icon
  %a.navbar-brand{ :href => "#" } PaperTools
  .collapse.navbar-collapse#navbar-supported-content
    %ul.navbar-nav.mr-auto
      %li.nav-item.active
        %a.nav-link{ :href => "#" }
          Home
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{ :href => "/pages/page_pdf.pdf" } 5mm square
      %li.nav-item
        %a.nav-link.disabled{ :href => "#" } Disabled
    %form.form-inline.my-2.my-lg-0
      %input.form-control.mr-sm-2{ :placeholder => "Search", :type => "text" }/
      %button.btn.btn-outline-success.my-2.my-sm-0{ :type => "submit" } Search
